@model StudentErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
    <p> @Model.Gender  </p>
    <p> @Model.Phone_number  </p>
    <p> @Model.Admission_number  </p>
    <p> @Model.Admission_date </p>
    <p> @Model.Last_name  </p>
    <p> @Model.First_name </p>
    <p> @Model.Middle_name  </p>
    <p> @Model.Phone_number  </p>
    <p> @Model.Level  </p>
    <p> @Model.Email  </p>
    <p> @Model.Faculty  </p>
    <p> @Model.Home_address  </p>
    <p> @Model.Date_of_birth  </p>
    <p> @Model.Course_of_study </p>
</div>