@model Phonebook.Models.Student

<div class="card">
    <div class="card-body">
        <p> First Name : @Model.First_name</p>
        <p> Last Name : @Model.Last_name</p>
        <p> Middle Name : @Model.Middle_name</p>
        <p> Gender: @Model.Email </p>
        <p>Primary Number : @Model.Phone_number</p>
        <p> Admission Number: @Model.Admission_number</p
        <p> Admission Date: @Model.Admission_date</p>
        <p> Address : @Model.Home_address</p>
        <p> Gender: @Model.Gender </p>
        <p> Course: @Model.Course_of_study </p>
        <p> Department: @Model.Department </p>
        <p> Faculty: @Model.Faculty </p>
        <p> Level: @Model.Level </p>
        <p> Date of Birth: @Model.Date_of_birth </p>
    </div>
</div>