@model ScoreErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div>
    <p> @Model.CA_1  </p>
    <p> @Model.CA_2  </p>
    <p> @Model.CA_3  </p>
    <p> @Model.Matric_number </p>
    <p> @Model.Level  </p>
    <p> @Model.Exam_score </p>
    <p> @Model.Semester  </p>
</div>

